@media(max-width:400px){
 
}

@media(max-width:576px){
  
}

@media(max-width:768px){
  
}

@media(max-width:992px){
  
}

@media(max-width:1200px){
  
}


.text-dark{
  margin-bottom: 1rem;
  color: #673AB7;
}

.bg-colour{
  background-color: #673AB7;
}

.brandh{
  font-size: 1.6rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.brands {
  font-size: 2.5rem;
}

.size{
  font-size: 1.2rem;
}
.App {
  text-align: center;
}

.required label:after {
  content:" *";
  color: red;
  display:inline;
}

.requireds :after {
  content:" *";
  color: red;
  display:inline;
}

.right{
  text-align: right;
  margin-right: 2rem;
  color: #cac8c8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#totin{
  text-align: center;
  /* padding-left: 9rem; */
  padding: auto;
}

.fs-title {
  font-size: 1.9rem;
  color: #673AB7;
  font-weight: normal;
  text-align: center;
  /* margin-left: 2cm; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: auto;
  /* font-size: calc(10px + 2vmin);  */
   /* color: white; */
 } 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-title{
  margin-top: 2em;
}
.text-vlight{
  color: #adb5bd;
}

body {
  /* font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* margin: 0; */
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* place-items: center; */
  /* min-height: 100vh; */
}

#totalincomevalue{
  padding-right: 33rem;
}

/* .stepper{
  margin-left: 15.5rem; 
}  */

/* thead{
  background-color: #47a1b9;
} */


@media only screen and (max-width: 992px){
  table, thead, tbody, th, td, tr{
      display: block;
  }

  thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  tr { border: 1px solid var(--border);}

  td{
      border: none;
      position: relative;
  }

}


/* @media only screen and (max-width: 992px){
    table, thead, tbody, th, td, tr{
      display: block;
  }
   tbody thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

   tbody tr { border: 1px solid var(--border);}

   tbody td{
      border: none;
      position: relative;
  }

} */

/* @media only screen and (max-width: 992px){
  thead{
    display: none;
  }
  tbody, tr, td {
    display: block;
    width: 100%;
  }
  tr{
    margin-bottom: 15px;
  }
  tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  td:before{
    content: attr(data-lable);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }

}
 */

#fileLabel{
  text-align: auto;
  /* margin-left: 2rem; */
  opacity: 0.9;
}

#file1, #file2, #file3, #file4, #file5, #file6, #file7, #file8, #file9, #file10, #file11, #file12{
  width: 20rem;
  /* margin-left: 9.9rem; */
  margin: auto;
  /* margin-right: 100px; */
}

#miscellaneous{
  width: 620px;
  margin-left:30px
}

.table1{
  font-size: large;
}

#jainism{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 40px;
  text-align: center;
  opacity: 0.7;  
  text-decoration-color: aliceblue;
}
#jainismselect{
  
  width: 620px;
  margin-left:40px;
}

#jainismfourth{
  opacity: 0.7; 
}

#misclabel{
  text-align: left;
  margin-left:40px;
  opacity: 0.5;

}

.radio input[type='radio']{
  position: absolute;
  opacity: 0;
}

.radio input[type='radio'] + .radio-label:before{
  content: "";
  background: var(--border-btn);
  border-radius: 100%;
  border: 1px solid var(--border);
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0em;
  margin-right: .5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
  background-color: #16db93;
  box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
  outline: none;
  border-color:#16db93;
}

.radio input[type='radio']:disabled + .radio-label:before{
  box-shadow: inset 0 0 0 4px #e9ecef;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
#edgl1{
  text-align: left;
  margin-left:40px;

}



#myInput {
  /* background-image: url(''); Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}


.jainradio{
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

#category{
  text-align: left;
  margin-left:40px;
  opacity: 0.7;  
  font-family: Arial, Helvetica, sans-serif;

}

#categoryselect{
  width: 25rem;
  margin-left:39px
}

.jainradioq1{

  margin-left: 9.6rem;
  margin-bottom: 1rem;

}
.jainradioq2{
  margin-left: 6.2rem;
  margin-bottom: 1rem;

}
.jainradioq3{

  margin-left: 12.2rem;
  margin-bottom: 1rem;
}
.jainradioq4{

  margin-left: 11.3rem;
  margin-bottom: 1rem;
}
.jainradioq5{

  margin-left: 10.2rem;
  margin-bottom: 1rem;
}
.jainradioq6{
  margin-left: 7.3rem;
  margin-bottom: 1rem;

}

.loanamount{
  margin-top: 0rem;



  margin-bottom: 1rem;
}

#hometab{
  color: #eee;
}
#hometab:hover{
  color: black;
}

#applytab{
  color: #eee;
}
#applytab:hover{
  color: black;
}

#applicanttabl{
  color: #eee;
}
#applicanttabl:hover{
  color: black;
}

#contacttab{
  color: #eee;
}
#contacttab:hover{
  color: black;
}

.viewpad{
  padding: 50px 70px;
}

.secondpad{
  padding: 10px 40px;
}

.thirddpad{
  padding-left: 60px;
}

.boxborder{
  border-style: inset;
  border-radius: 20px;
}

.rentbox{
  border-style: ridge;
  padding-bottom: 1.4rem;
  margin: 0 10px;
  border-radius: 20px;
}

.rent{
  padding-top: 30px;
}

